@page
<center>
    <div class="container" style="margin:auto">
        <div style="width:50%">
            <form class="text-center">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="email" class="form-control mb-2" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control mb-4" placeholder="Password" required="">

               
                    <div id="spinner" class="lds-roller d-none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                

                <button id="submitBtn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</center>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/login.js"></script>